/* Reset some default styles for a clean slate */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply styles to the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style the navigation menu */
nav {
    background-color: #cb8282;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Style the main content sections */
main {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/*  Style the portfolio items */
.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
